on:
  - push
  - pull_request

name: CI/CD

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          nix_archives_url: https://github.com/nixbuild/nix-quick-install-action/releases/download/v9
          nix_version: 2.4
          nix_conf: experimental-features = nix-command flakes
      - name: Build nix archives
        id: build-nix-archives
        run: |
          nix build -v .#nix-archives
          echo "::set-output name=result::$(readlink result)"
      - uses: actions/upload-artifact@v2
        with:
          name: nix-archives-${{ matrix.os }}
          path: ${{ steps.build-nix-archives.outputs.result }}/

  test-nix:
    needs: build
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        nix_version:
          - 2.4
          # - 2.3.15
          # - 2.3.14
          # - 2.3.12
          # - 2.3.10
          # - 2.3.7
          # - 2.2.2
          # - 2.1.3
          # - 2.0.4
        exclude:
          - os: macos-latest
            nix_version: 2.0.4
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        id: nix-archives
        with:
          name: nix-archives-${{ matrix.os }}
      - uses: ./
        with:
          nix_archives_url: file://${{steps.nix-archives.outputs.download-path}}
          nix_version: ${{ matrix.nix_version }}
      - name: Test nix
        run: nix-build -v --version

  test-cachix:
    needs: build
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        nix_version:
          - 2.4
          # - 2.3.15
          # - 2.3.14
          # - 2.3.12
          # - 2.3.10
          # - 2.3.7
          # - 2.2.2
        include:
          - nix_version: 2.4
            nix_conf: experimental-features = nix-command flakes
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        id: nix-archives
        with:
          name: nix-archives-${{ matrix.os }}
      - uses: ./
        with:
          nix_archives_url: file://${{steps.nix-archives.outputs.download-path}}
          nix_version: ${{ matrix.nix_version }}
          nix_conf: ${{ matrix.nix_conf }}
      - uses: cachix/cachix-action@v8
        with:
          name: nixbuild
          signingKey: ${{ secrets.cachix_signing_key }}
      - name: Verify nix config
        run: |
          if ! egrep -q "^substituters = https://cache.nixos.org https://nixbuild.cachix.org$" "$HOME/.config/nix/nix.conf"; then
            echo "Invalid substituters config"
            exit 1
          fi
      - name: Push to Cachix
        if: github.event_name == 'push' && github.repository_owner == 'nixbuild'
        run: |
          dd if=/dev/urandom of=random count=1
          cachix push nixbuild "$(nix add-to-store random)"

  release:
    runs-on: ubuntu-latest
    needs:
      - build
      - test-nix
      - test-cachix
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: nix-archives-ubuntu-latest
          path: /tmp/archives
      - uses: actions/download-artifact@v2
        with:
          name: nix-archives-macos-latest
          path: /tmp/archives
      - uses: ./
        with:
          nix_archives_url: file:///tmp/archives
          nix_version: 2.4
          nix_conf: experimental-features = nix-command flakes
      - name: Build release script
        run: nix build .#release
      - name: Release if needed
        run: ./result/bin/release /tmp/archives ./RELEASE
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
